Package: com.guilleme.WeeSpaces
Name: WeeSpaces
Version: 1.3
Architecture: iphoneos-arm
Description: Wee plugin to quickly select a page and running apps.
Maintainer: F. Guillemé
Author: F. Guillemé
Section: System
Pre-Depends: firmware (>= 5.0)
