<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>PLEASE Translations needed.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>http://code.google.com/p/iphone-delivery-report/wiki</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>I want to help</string>
			<key>action</key>
			<string>translate:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>alternateColors</key>
			<true/>
			<key>set</key>
			<string>setDeliveryEnabled:specifier:</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>DELIVERY_NOTIFICATION_STYLE</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-style</string>
			<key>label</key>
			<string>Style</string>
			<key>validTitles</key>
			<array>
				<string>Silent</string>
				<string>Full screen</string>
				<string>Notification center</string>
				<string>Simple Alert</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DELIVERY_VIBRATE</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-vibrate</string>
			<key>label</key>
			<string>Vibrate</string>
		</dict>
		<dict>
			<key>id</key>
			<string>DELIVERY_SOUND</string>
			<key>detail</key>
			<string>RingtoneController</string>
			<key>defaultToneSelector</key>
			<string>defaultTextToneIdentifier</string>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>key</key>
			<string>dr-sound</string>
			<key>pane</key>
			<string>TexttonePane</string>
			<key>label</key>
			<string>Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DELIVERY_MARK</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-tick</string>
			<key>label</key>
			<string>Mark</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DELIVERY_SMILEY</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-smileys</string>
			<key>label</key>
			<string>Smileys</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DELIVERY_PICTURES</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-pictures</string>
			<key>label</key>
			<string>Contact picture</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DELIVERY_FONTSIZE</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>dr-small</string>
			<key>label</key>
			<string>Small font size</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>id</key>
			<string>DISABLE_CLASS0</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.guilleme.deliveryreports</string>
			<key>key</key>
			<string>no-class0</string>
			<key>label</key>
			<string>Antidote class 0</string>
		</dict>
	</array>
	<key>title</key>
	<string>Delivery reports</string>
</dict>
</plist>
