Package: com.guilleme.QSB
Name: QSB
Version: 1.0
Architecture: iphoneos-arm
Description: QSB. A wee plugin to quicly select a SpringBoard page.
Maintainer: F. Guillemé
Author: F. Guillemé
Section: System
Pre-Depends: firmware (>= 5.0)
